{% if page.extensions.payTrace_payment.clientKey %}
    <input
            type="hidden"
            id="{{ page.extensions.payTrace_payment.flow == 'payment_order'
            ? 'payTrace-transaction-id'
            : 'paytracePaymentData' }}"
            name="{{ page.extensions.payTrace_payment.flow == 'payment_order'
            ? 'payTrace_transaction_id'
            : 'paytracePaymentData' }}"
            form="confirmOrderForm"
            value=""
           {% if page.extensions.payTrace_payment.flow == 'payment_order' %}
                required="required"
            {% endif %}
    />

<template payTrace-payment-credit-card-plugin></template>
<div id="payTrace_payment" data-payTrace-credit-card="true"
     data-client-key="{{ page.extensions.payTrace_payment.clientKey }}"
     data-amount="{{ page.extensions.payTrace_payment.amount }}"
     data-is-guest="{{ page.extensions.payTrace_payment.isGuest }}"
     data-card-type="{{ page.extensions.payTrace_payment.cardType }}"
     data-mode="{{ page.extensions.payTrace_payment.mode }}"
     data-cardsDropdown="{{ page.extensions.payTrace_payment.cardsDropdown }}"
     data-flow="{{ page.extensions.payTrace_payment.flow }}">


  <form class="mt-3" id="saved-card-form">

    {% if not page.extensions.payTrace_payment.isGuest %}
      <div id="saved-cards-wrapper" class="mb-2">
        <label for="saved-cards" class="form-label">{{ "paytrace_shopware6.credit_card.label_choose_saved_card"|trans }}</label>
        <select id="saved-cards" name="saved-cards" class="form-select form-select-sm">
          <option value="__new__">{{ "paytrace_shopware6.credit_card.option_use_new_card"|trans }}</option>
        </select>
      </div>
    {% endif %}

  </form>
  <div id="new-card-section">
    <div class="card">
      <div class="card-body">
        <div id="paytrace-card-note-message" class="paytrace-card-note-message d-none">
          <span role="alert"> {{ "paytrace_shopware6.credit_card.submitError.billingInformationNote"|trans }}</span>
        </div>

          <div class="" id='pt_hpf_form'></div>

        {% if not page.extensions.payTrace_payment.isGuest %}
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="save-paytrace-card" name="save-paytrace-card">
            <label class="form-check-label" for="save-paytrace-card">
              {{ "paytrace_shopware6.credit_card.saveCardLabel"|trans }}
            </label>
          </div>
        {% endif %}

        <div id="paytrace-loading-indicator" class="d-none" >
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div>
          <span class="credit-card-error-message alert-danger d-none" id="credit-card-error-message" role="alert"></span>
        </div>

      </div>

    </div>
  </div>

    {% if page.extensions.payTrace_payment.mode == 'sandbox' %}
      <script src='https://protect.sandbox.paytrace.com/js/protect.min.js'></script>
    {% else %}
      <script src='https://protect.paytrace.com/js/protect.min.js'></script>
    {% endif %}

</div>

{% else %}
  <div id="credit-card-error-message">
    <div class="error-alert">
      <strong>{{ "paytrace_shopware6.credit_card.error_missing_configuration_title"|trans }}</strong>
      <p>{{ "paytrace_shopware6.credit_card.error_missing_configuration_message"|trans|raw }}</p>
    </div>
  </div>
{% endif %}


<div id="paytrace-jsData" data-jsData="{{ {
  'translations': {
    'selectSavedCard': 'paytrace_shopware6.credit_card.selectSavedCard' | trans,
    'optionUseNewCard': 'paytrace_shopware6.credit_card.option_use_new_card' | trans,
    'submitErrorVaultedMissing': 'paytrace_shopware6.credit_card.submitError.vaultedMissing' | trans,
    'submitErrorCardTokenFail': 'paytrace_shopware6.credit_card.submitError.cardTokenFail' | trans,
    'submitErrorProcessError': 'paytrace_shopware6.credit_card.submitError.processError' | trans,
    'submitErrorPaymentFailed': 'paytrace_shopware6.credit_card.submitError.paymentFailed' | trans,
    'submitErrorUnknown': 'paytrace_shopware6.credit_card.submitError.unknown' | trans,
    'submitErrorVaultedError': 'paytrace_shopware6.credit_card.submitError.vaultedError' | trans,
    'submitErrorVaultedUnknown': 'paytrace_shopware6.credit_card.submitError.vaultedUnknown' | trans,
    'submitErrorInitFail': 'paytrace_shopware6.credit_card.submitError.initFail' | trans
  }
} | json_encode | escape('html_attr') }}"></div>

