{% if page.extensions.payTrace_payment.clientKey %}
<template payTrace-payment-credit-card-plugin></template>
<div id="payTrace_payment" data-payTrace-credit-card="true"
     data-client-key="{{ page.extensions.payTrace_payment.clientKey }}"
     data-amount="{{ page.extensions.payTrace_payment.amount }}"
     data-is-guest="{{ page.extensions.payTrace_payment.isGuest }}"
     data-card-type="{{ page.extensions.payTrace_payment.cardType }}"
     data-cardsDropdown="{{ page.extensions.payTrace_payment.cardsDropdown }}">


  <form class="mt-3" id="saved-card-form">

    {% if not page.extensions.payTrace_payment.isGuest %}
      <div id="saved-cards-wrapper" class="mb-2">
        <label for="saved-cards" class="form-label">{{ "paytrace_shopware6.credit_card.label_choose_saved_card"|trans }}</label>
        <select id="saved-cards" name="saved-cards" class="form-select form-select-sm">
          <option value="">{{ "paytrace_shopware6.credit_card.option_select_saved_card"|trans }}</option>
        </select>
      </div>
    {% endif %}

    <input type="button" id="SelectCardButton" value="{{ "paytrace_shopware6.credit_card.button_pay_with_saved_card"|trans }}"
           class="btn btn-secondary w-100 btn-sm" style="display:none;">
  </form>
  <div class="card" style="max-width: 500px; margin: 10px auto; background-color: white">
    <div class="card-body">
        <div class="" id='pt_hpf_form'></div>
      <div id="paytrace-loading-indicator" class="d-none" style="text-align:center; margin: 15px 0;">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div>
        <span class="credit-card-error-message alert-danger d-none" id="credit-card-error-message" role="alert"></span>
      </div>
    </div>
  </div>

  <script src='https://protect.sandbox.paytrace.com/js/protect.min.js'></script>
</div>

{% else %}
  <div id="credit-card-error-message">
    <div class="error-alert">
      <strong>{{ "paytrace_shopware6.credit_card.error_missing_configuration_title"|trans }}</strong>
      <p>{{ "paytrace_shopware6.credit_card.error_missing_configuration_message"|trans|raw }}</p>
    </div>
  </div>
{% endif %}


<script>
  window.translation = {
    "paytrace_shopware6.credit_card.selectSavedCard": "{{ 'paytrace_shopware6.credit_card.selectSavedCard'|trans }}",
    "paytrace_shopware6.credit_card.submitError.vaultedMissing": "{{ 'paytrace_shopware6.credit_card.submitError.vaultedMissing'|trans|e('js') }}",
    "paytrace_shopware6.credit_card.submitError.cardTokenFail": "{{ 'paytrace_shopware6.credit_card.submitError.cardTokenFail'|trans|e('js') }}",
    "paytrace_shopware6.credit_card.submitError.processError": "{{ 'paytrace_shopware6.credit_card.submitError.processError'|trans|e('js') }}",
    "paytrace_shopware6.credit_card.submitError.paymentFailed": "{{ 'paytrace_shopware6.credit_card.submitError.paymentFailed'|trans|e('js') }}",
    "paytrace_shopware6.credit_card.submitError.unknown": "{{ 'paytrace_shopware6.credit_card.submitError.unknown'|trans|e('js') }}",
    "paytrace_shopware6.credit_card.submitError.vaultedError": "{{ 'paytrace_shopware6.credit_card.submitError.vaultedError'|trans|e('js') }}",
    "paytrace_shopware6.credit_card.submitError.vaultedUnknown": "{{ 'paytrace_shopware6.credit_card.submitError.vaultedUnknown'|trans|e('js') }}",
    "paytrace_shopware6.credit_card.submitError.initFail": "{{ 'paytrace_shopware6.credit_card.submitError.initFail'|trans|e('js') }}"
  };
</script>
